:root {
  --p1: #ffbb00;
  --p2: #e4a30b;
  --p3: #a66f00;
  --p4: #664400;
  --p5: #332200;
  --w: #ffffff;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #cccccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #111111;
  --c12: #000000;
}

body {
  background: var(--c12);
  margin: 0 auto;
  color: var(--w);
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p,
a,
ul {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

nav div {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
}

nav div ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--w);
}

.font-1-m-b {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.primary-button {
  padding: 16px 32px;
  border-radius: 5px;
  background-color: var(--p1);
}
