:root {
  --p1: #ffbb00;
  --p2: #e4a30b;
  --p3: #a66f00;
  --p4: #664400;
  --p5: #332200;
  --w: #ffffff;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #cccccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #111111;
  --c12: #000000;
}

.c5 {
  color: var(--c5);
}

.p1 {
  color: var(--p1);
}

.font-1-m-b {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.font-1-xxl {
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 600;
}

.font-2-l {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
}

body {
  background: var(--c12);
  margin: 0 auto;
  color: var(--w);
  font-family: "roboto", sans-serif;
}

h1,
h2,
h3,
p,
a,
ul {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

nav div {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0rem;
}

nav div ul {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--w);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
}

.grid {
  display: grid;
}

.primary-button {
  display: block;
  padding: 1rem 2rem;
  border-radius: 0.3125rem;
  background-image: linear-gradient(var(--p1), var(--p2));
  box-shadow: 0rem 0.0625rem 0.125rem var(--c12);
  text-transform: uppercase;
  color: var(--p5);
}
